@import url("fonts.css");

/* Menubar Styling */
.menubar-container {
  position: relative;
  text-align: right;
  color: white;
}

.menubar-item {
  padding: 50px;
  color: white;
  text-decoration: none;
  font-family: OswaldRegular;
  background-color: black;
  font-size: 24px;
}

.menubar-item:hover {
  background-color: blue;
}
/* Menubar Styling */

/* The Image And Name Styling */
#home-container p {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-image {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: block;
  width: 100%;
  height: auto;
  filter: brightness(0.30);
}

.home-image-container {
  position: relative;
  text-align: center;
  color: white;
}

.home-image-text {
  position: absolute;
  top: 20%;
  left: 19%;
  transform: translate(-50%, -50%);
  width: 100px;
}

.home-image-text pre {
  font-size: 120px;
  display: inline;
  font-family: OswaldBold;
}
/* The Image And Name Styling */
