@import "fonts/fonts.css";

/* Title */
.title-main {
  line-height: 0%;
  text-align: center;
}

.title {
  font-family: MohaveLight, serif;
  font-weight: bold;
  font-size: 950%;
}



/* Sidebar */
.sidebar {
  text-align: center;
}

.sidebar a {
  font-family: MohaveLightItalic;
  font-size: 450%;
  line-height: 0%;
  text-decoration: none;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  color: black;
}

a:hover {
  color: red;
}

/* Main page */
.main {
  position: fixed;
  top: 43.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
