@import "../fonts/fonts.css";

body {
  font-family: MohaveLight, serif;
  position: relative;
}

#title {
  padding-left: 5%;
  padding-right: 10%;
}

#title p {
  line-height: 0px;
}

#title-name {
  font-size: 500%;
  font-weight: 1000;
}

#title-location {
  font-size: 150%;
}

#title-contact {
  font-size: 150%;
  padding-top: 10px
}


#objective {
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 40%;
  line-height: 200%;
}

#objective-title {
  font-size: 300%;
  font-style: italic;
  font-weight: 600;
}

#objective-description {
  font-size: 150%;
}

#education {
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 40%;
  line-height: 100%;
}

#education-title {
  font-size: 300%;
  font-style: italic;
  font-weight: 600;
}

#education-school {
  font-size: 200%;
}

#education-info {
  font-size: 150%;
  line-height: 150%
}

#extras {
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 40%;
  line-height: 100%;
}

#extras-title {
  font-size: 300%;
  font-style: italic;
  font-weight: 600;
}

.extras-list-title {
  font-size: 200%;
}

.extras-list-date {
  font-size: 150%;
  font-style: italic;
}

.extras-list-description {
  font-size: 125%;
  line-height: 150%;
}

#volunteer {
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 40%;
  line-height: 100%;
}

#volunteer-title {
  font-size: 300%;
  font-style: italic;
  font-weight: 600;
}

.volunteer-list-title {
  font-size: 200%;
}

.volunteer-list-location {
  font-size: 150%;
  font-style: italic;
}

.volunteer-list-description {
  font-size: 125%;
  line-height: 150%
}

#skills {
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 40%;
  line-height: 100%;
}

#skills-title {
  font-size: 300%;
  font-style: italic;
  font-weight: 600;
}

#skills-list {
  font-size: 125%;
  line-height: 150%;
}

#achievements {
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 40%;
  line-height: 100%;
}

#achievements-title {
  font-size: 300%;
  font-style: italic;
  font-weight: 600;
}

.achievements-list-title {
  font-size: 200%;
}

.achievements-list-date {
  font-size: 150%;
  font-style: italic;
}

.achievements-list-description {
  font-size: 125%;
  line-height: 150%
}

#hobbies {
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 40%;
  line-height: 100%;
}

#hobbies-title {
  font-size: 300%;
  font-style: italic;
  font-weight: 600;
}

#hobbies-list {
  font-size: 125%;
  line-height: 150%;
}

#r {
  font-size: 200%;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 40%;
  line-height: 100%;
}
