@import url("../fonts.css");

#projects-container {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.projects-title {
  color: white;
  font-family: OswaldRegular;
  font-size: 48px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom-color: white;
  border-bottom-style: solid;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* For testing reasons */
.projects-item {
  border-style: solid;
  border-color: white;
  width: 325px;
  height: 325px;
  border-radius: 50px;
  margin-bottom: 40px;
  margin-left: 40px;
}
